[Unit]
Descriptinotallow=meepo Monitoring System
Documentatinotallow=meepo Monitoring System
 
[Service]
WorkingDirectory=WORK
ExecStart=EXEC
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target